table, th, td {
    border: 1px solid black;
    width: 100px;;

    
  }

body{
    background-color: beige;
}
caption{
    font-size: larger;
    font-style: italic;
}
img{
    max-width:100px;
    
}
#wand{
    max-width: 1000px;
    float: right;
    margin-bottom:50px;
    
}